:root {
    --gray20: #333333; 
    --white: #FAFAFA;
    --baby-powder: #F7F7F3;
    --persian-green: #1B998B;
    --space-cadet: #2D3047;
    --icterine: #FFFD82;
    --atomic-tangerine: #FF9B71;
    --red-crayola: #E84855;
    --normal-padding: 2% 1%;
}

/* Universal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utilities */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

article {
    width: 100%;
}

div {
    display: block;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

.container {
    display: flex;
    flex-direction: row;
}

.item {
    padding: var(--normal-padding);
}

/* Header */
header, footer {
    padding: var(--normal-padding);
    background-color: var(--gray20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    min-height: 60px;
    max-height: 70px;
}

header {
    z-index: 9999;
}

header li, footer li {
    display: inline;
    text-align: center;
}

header li a:hover {
    color: var(--icterine);
}

/* Footer */
footer {
    background-color: var(--baby-powder);
    color: var(--gray20);
    font-size: 0.8em;
}

footer a:visited {
    text-decoration: none;
    color: var(--gray20);
}

footer li {
    margin: 0 20px;
}

footer li:hover {
    color: black;
}

/* Navigation */
nav {
    display: flex;
}

/* ! Navigation Classes */
.logo {
    justify-content: flex-start;
}

.nav-links {
    justify-content: center;
}

.nav-socials {
    justify-content: end;
}

.nav-socials i:hover {
    color: var(--icterine);
}

.nav-links li, .nav-socials li {
    margin: 0 12px;
    font-size: 0.9em;
    font-weight: 300;
    color: var(--white);
    list-style: none;
}

.nav-links a:visited {
    text-decoration: none;
    color: var(--white);
}

/* Home Page */

/* ! Home North */
.HomeNorth {
    display: flex;
    color: var(--gray20);
    height: 550px;
    width: 100%;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.HomeNorth .container {
    justify-self: center;
    align-content: space-around;
    gap: 1px;
}

.home-coder {
    flex-grow: 2;
    float: right;
    text-align: right;
    justify-content: center;
}

.home-designer {
    padding: var(--normal-padding);
    padding-left: 50px;
    flex-grow: 1;
    float: left;
    text-align: left;
    justify-content: center;
}

.HomeNorth h2 {
    font-size: 3.5em;
    font-weight: 900;
}

.HomeNorth p {
    font-weight: 200;
}

/* ! Home South */
.HomeSouth {
    background-color: var(--space-cadet);
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 11px 8px -10px var(--gray20);
    color: var(--white);
}

.HomeSouth div {
    padding: var(--normal-padding);
}

.HomeSouth h3 {
    padding-top: 50px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.4em;
    font-size: 0.9em;
}

/* Portfolio */
.portfolio .container {
    justify-self: center;
    align-content: space-around;
    gap: 1px;
}